<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Predict Prices</title>
</head>

<body>
    <div class="heading">
        <h1>
            House Price Prediction
        </h1>
    </div>
    <div class="mother">
        <div class="main_form_div">
            <form action="" method="POST" action="{{ url_for('index')}}" class="main_form">

                <div class="range_inputs">
                    <div class="range_inputs_inner">
                        <label for="longitude">Enter your longitude {{ longitude }} </label>

                        <div class="inner_range">
                            <p>-150.00</p>
                            <input type="range" name="longitude" id="" min="-150.00" max="-100.00" step="0.1" required>
                            <p>-100.00</p>
                        </div>
                        <br>

                        <label for="latitude">Enter your latitude {{ latitude }}</label>
                        <div class="inner_range">
                            <p>30.00</p>
                            <input type="range" name="latitude" id="" required min="30" max="50" step="0.1">
                            <p>50.00</p>
                        </div>
                        <br>

                        <label for="age">Enter your house age {{ age }}</label>

                        <div class="inner_range">
                            <p class="age_limit_left">0</p>
                            <input type="range" name="age" id="" required min="0" max="100">
                            <p class="age_limit_right">100</p>
                        </div>


                    </div>

                </div>
                <br>

                <div class="number_inputs">
                    <div class="number_each">
                        <label for="population">Enter average population of the area</label>
                        <input type="number" name="population" id="" placeholder="Population..." min="0" required>
                    </div>
                    <br><br>

                    <div class="number_each">
                        <label for="households">Enter average number of households of the area</label>
                        <input type="number" name="households" id="" required placeholder="Households..." min="0">
                    </div>
                    <br><br>
                    

                    <div class="number_each">
                        <label for="income">Enter your income</label>
                        <input type="number" name="income" id="" required placeholder="Income..." min="0">
                    </div>
                </div>

                <br>


                <div class="ocean_prox">
                    <label for="proximity">Enter proximity to ocean</label>
                    <select name="proximity" id="" required>
                        <option value="less_than_1_hour">
                            <1H OCEAN
                        </option>
                        <option value="INLAND">INLAND</option>
                        <option value="NEAR OCEAN">NEAR OCEAN</option>
                        <option value="NEAR BAY">NEAR BAY</option>
                        <option value="ISLAND">ISLAND</option>
                    </select>
                </div>

                <br>
                <div class="submit_but">
                    <input type="submit" value="Predict">
                </div>

            </form>

            <div class="pred_val">
                <p>The predicted house value is $ {{ predictions }} </p>
            </div>
        </div>
    </div>
</body>

</html>