<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <style>

    </style>
</head>
<body>
    <h3> Longitude: {{ longitude }}</h3>
    <h3> Latitude: {{ latitude }}</h3>
    <h3> Age: {{ age }}</h3>
    <h3> Population: {{ population }}</h3>
    <h3> Households: {{ households }}</h3>
    <h3> Income: {{ income }}</h3>
    <h3> Ocean Proximity: {{ proximity }}</h3>
    <h3> Predicted Price: {{ predictions }}</h3>
</body>
</html>